{% extends "base.html.twig" %}

{% block title %}Interdit !{% endblock %}

{% block body %}

<h1 class="text-center">403 z'avez pas l'droiiiiiit</h1>

<h3>Désolé, mais vous avez pas le droit d'aller là. <a href="{{ path('produit') }}">Cliquez ici</a> pour retourner à l'accueil !</h3>

{% endblock %}