{% extends "base.html.twig" %}

{% block title %}Y'a pas !{% endblock %}

{% block body %}

<h1 class="text-center">404 pas trouvééééééé</h1>

<h3>Désolé, mais le produit indiqué n'existe pas. <a href="{{ path('produit') }}">Cliquez ici</a> pour retourner à l'accueil !</h3>

{% endblock %}